@use "_mixin" as *;
.dashboard {
  overflow-y: auto;

  .bar {
    height: 4rem;
    @include flex(row, unset);
    padding: 0 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.37);
    > input {
      margin-right: auto;
      @include inputStyle(100%, 1rem 0);
    }
    > svg {
      font-size: 1.2rem;
      opacity: 0.7;
    }
    > img {
      @include square(2rem);
      border-radius: 50%;
    }
  }
  .widgetContainer {
    margin-left: 0.2rem;
    @include flex(row, space-between, stretch, 2rem);
    padding: 1.5rem 2rem 2rem 0;
    .widget {
      width: 16rem;
      background-color: white;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.132);
      padding: 2rem;
      @include flex(row, space-between, stretch, 0);
      border-radius: 10px;
      .widgetInfo {
        > p {
          opacity: 0.7;
          font-size: 0.8rem;
        }
        > h4 {
          font-size: 1.4rem;
        }
        > span {
          @include flex(row, unset, center, 0.2rem);
        }
      }
      .widgetCircle {
        position: relative;
        @include square(5rem);
        flex: none;
        border-radius: 50%;
        display: grid;
        place-items: center;
        background-color: aquamarine;
        &::before {
          content: "";
          position: absolute;
          @include square(4rem);
          background-color: white;
          border-radius: 100%;
        }
        span {
          position: relative;
        }
      }
    }
  }
  .grapshConatiner {
    @include flex(row, unset, unset, 2rem);
    padding: 0 2rem 2rem 0;
    > div {
      background-color: white;
      border-radius: 10px;
    }
    .revenueChart {
      width: 100%;
      padding: 1rem 2rem;
      > h5 {
        @include heading;
        text-align: center;
      }
    }
    .dashboardCategories {
      width: 100%;
      max-width: 14rem;
      padding-bottom: 2rem;
      @include flex(column, center, unset, 0);
      > h5 {
        @include heading;
        margin: 1.5rem 0 2rem;
        text-align: center;
      }
      > div {
        overflow-y: auto;
        padding-left: 0.5rem;
      }
      .categoryItem {
        width: 100%;
        @include flex(row, space-between);
        padding: 0.5rem;
        > h5 {
          letter-spacing: 1px;
          font-weight: 300;
        }
        > div {
          margin-left: auto;
          width: 6rem;
          background-color: rgb(217, 217, 217);
          border-radius: 20px;
          height: 0.5rem;
          flex: none;
          > div {
            height: 100%;
            border-radius: 20px;
          }
        }
      }
    }
  }

  .transactionContainer {
    @include flex(row, unset, unset, 1.3rem);
    padding: 0 2rem 2rem 0;
    height: 30rem;

    > div {
      background-color: white;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.132);
      margin-left: 0.5rem;
    }
    .genderChart {
      padding: 1rem;
      width: 100%;
      max-width: 20rem;
      position: relative;
      > h2 {
        text-align: center;
        margin: 1.5rem 0 2rem 0;
        @include heading;
      }
      > p {
        @include posCenter;
        font-size: 2rem;
        color: rgba(0, 0, 0, 0.634);
      }
    }
    .transactionTable {
      width: 100%;
      padding: 1rem 2rem;
    }
  }
}
